@CHARSET "EUC-KR";

.pageElement {
	width: 100%;
	font-size: 0.8em;
}

input [type="text"] {
	height: 1em;
}

input[type="submit"], input[type="button"] {
	width: 5em;
	height: 1.5em;
	padding: 0;
}

table {
	margin: 0 auto;
	border: 2px solid gray;
	border-collapse: collapse;
	width:80%;
}

th {
	background-color:#cccccc;
}
td,th {
	text-align:center;
	border: 1px solid gray;
}

.doc:hover {
	background-color:yellow
}

#num_td {
	width: 5%;
}
#author_td {
	width: 10%;
}

#date_td{
	width: 15%;
}

#btn {
	float : right;
}

#contents {
	width: 100%;
	text-align: left;
	padding-left: 1em;
}

.linkStyle {
	cursor: pointer;
	color: blue;
}

fieldset {
	margin: 0 auto;
	width: 70%;
}

Label {
	display: block;
	float: left;
	width: 10em;
	text-algin: right;
	padding-right: 1em;
}

#writeBox {
	width: 100%;
	line-height: 2em;
}

#author_input {
	width: 20%;
}

#title_input {
	width: 60%;
}

#content_input {
	width: 60%;
}

#btnArea {
	width: 85%;
	text-align: right;
}